/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/layout";
@import "compass/utilities";
@import "compass/css3";
@import "retina-sprites";

$sprites: sprite-map("sprites/*.png");            // import 1x sprites
$sprites2x: sprite-map("sprites_2x/*.png");   // import 2x sprites

@include sticky-footer(40px);

body, html {
  min-height: 100%;
  width: 100%;
}
@font-face {
  font-family: 'GothamRoundedBook';
  src: url('/fonts/gothamrounded-book.eot');
  src: url('/fonts/gothamrounded-book.eot') format('embedded-opentype'),
  url('/fonts/gothamrounded-book.woff') format('woff'),
  url('/fonts/gothamrounded-book.ttf') format('truetype'),
  url('/fonts/gothamrounded-book.svg#GothamRoundedBook') format('svg');
}
@font-face {
  font-family: 'GothamMedium';
  src: url('/fonts/gotham-medium.eot');
  src: url('/fonts/gotham-medium.eot') format('embedded-opentype'),
  url('/fonts/gotham-medium.woff') format('woff'),
  url('/fonts/gotham-medium.ttf') format('truetype'),
  url('/fonts/gotham-medium.svg#GothamMedium') format('svg');
}


$break-small: 600px;
#root {
  background-image: image-url('mobile_bg.jpg');
  @include background-size(cover);
  background-repeat: no-repeat;

  @media screen and (min-width: $break-small) {
    background-image: image-url('bg.jpg');
  }
}
#root {
  height: 100%;
}
#sidebar {
  background-color: #3d4750;
  border-right: 1px solid #b2c4cd;
  position: absolute;
  min-height: 100%;
  width: 120px;
  top: 0px;
  left: 0px;

  background-image: image-url('gears.png');
  background-repeat: no-repeat;
  background-position: bottom;

  #arrow {
    position: absolute;
    top: 60px;
    right: -19px;
    width: 19px;
  }
}
#header {
  background-color: #3d4750;
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #b2c4cd;
  background-image: image-url('gears_small.png');
  background-repeat: no-repeat;
  background-position: left;

  &.red {
    background-color: #e73a84;
  }

  #arrow {
    position: absolute;
    left: 50%;
    width: 22px;
    margin-left: -11px;
    bottom:  -11px;
  }

  h2 {
    color: #FFF;
    @include single-text-shadow(0px, 1px, 1px, false, #3e4b55);
    font-size: 15px;
  }

}
#presentationContainer {
  padding-top: 40px;
  padding-left: 120px;

  &.admin {
    padding-left: 210px;
  }

  h1 {
    font-size: 55px;
    color: #3d4750;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;

    &.result {
      width: 45%;
      font-size: 39px;
      line-height: 130%;
      margin-left: 50px;
      margin-top: 250px;
      text-align: left;
    }
  }
  #message {
    color: #FFF;
    width: 50%;
    font-size: 25px;
    text-align: center;
    margin: 50px auto;
    background-color: #8ea2af;
    padding: 40px;
    text-align: center;
    border: 1px solid #b2c4cd;
    @include box-sizing(border-box);
  }
  #legend {
    color: #FFF;
    th {
      font-size: 30px;
      width: 230px;
      vertical-align: middle;
      padding: 20px;
    }
    td {
      font-size: 25px;
      vertical-align: middle;
      padding: 20px;

      img {
        width: 30px;
      }
    }
  }
  #chart {
    position: absolute;
    right: 100px;
    top: 50%;
    margin-top: -250px;

    .label {
      font-size: 25px;
      color: #FFF;
      position: absolute;
      top: 493px;
      text-align: center;

      span {
        font-size: 20px;
      }

      &.agree {
        left: 80px;
      }
      &.neutral {
        left: 199px;
      }
      &.disagree {
        right: 109px;
      }
    }

    img {
      display: block;
    }
  }
  #intro {
    display: block;
    margin: 0 auto;
  }

  #answered {
    @include clearfix;
    width: 834px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    .button {
      color: #FFF;
      font-size: 20px;
      padding-top: 27px;
      display: block;
      text-decoration: none;
      background-color: transparent;
      float: left;
      text-align: center;
      font-family: 'GothamMedium';
      margin: 0px;
      @include box-sizing(border-box);

      &.hidden {
        visibility: hidden;
      }

      &.agree {
        @include retina-sprite('green_button');
      }
      &.neutral {
        @include retina-sprite('orange_button');
      }
      &.disagree {
        @include retina-sprite('red_button');
      }
    }
  }
  .button {
    padding: 20px 40px;
    display: inline-block;

    background-color: #3d4750;
    color: #FFF;
    text-decoration: none;
    margin-right: 50px;

    &#next {
      background-color: #e73a84;
    }
    &.current {
      background-color: #e73a84;
    }
  }

  .question {
    margin-top: 40px;

    h2 {
      margin-bottom: 20px;
      font-size: 20px;
    }
    .button {

      padding: 10px 20px;
      font-size: 16px;
    }

  }
  #logo {
    width: 300px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -150px;
  }

}
#voteContainer {
  width: 278px;
  margin: 0 auto;
  padding-bottom: 20px;

  #intro {
    display: block;
    margin: 0 auto;
  }

  #okButton {
    padding: 20px 0px;
    display: block;
    margin-top: 40px;
    text-align: center;
    width: 100%;

    background-color: #e73a84;
    color: #FFF;
    text-decoration: none;
    margin-right: 50px;

    &.current {
      background-color: #e73a84;
    }
  }

  h1 {
    margin-top: 25px;
    font-size: 25px;
    color: #3d4750;
    @include single-text-shadow(0px, 1px, 1px, false, #FFF);
    text-align: center;
    margin-bottom: 30px;
  }
  #answers, #answered {
    margin-bottom: 50px;

    .button {
      width: 100%;
      color: #FFF;
      font-size: 20px;
      padding-top: 27px;
      display: block;
      text-decoration: none;
      text-align: center;
      font-family: 'GothamMedium';
      @include box-sizing(border-box);

      &.hidden {
        visibility: hidden;
      }

      &.agree {
        @include retina-sprite('green_button');
      }
      &.neutral {
        @include retina-sprite('orange_button');
      }
      &.disagree {
        @include retina-sprite('red_button');
      }
    }
    #noAnswer, #follow {
      color: #FFF;
      padding: 25px 15px;
      text-align: center;
      font-size: 20px;
      display: none;
    }
  }
  #answered {
    display: none;

    .button {
      @include opacity(0.7);
    }
  }



}
#logo {
  width: 164px;
  display: block;
  margin: 0 auto;
}

*, p, h1, h2, h3, h4, span, li, th, td, a {
  font-family: 'GothamRoundedBook';
}