/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px;
}
/* line 18, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 40px;
}

/* line 20, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 40px;
}

/* line 17, ../sass/screen.scss */
body, html {
  min-height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'GothamRoundedBook';
  src: url("/fonts/gothamrounded-book.eot");
  src: url("/fonts/gothamrounded-book.eot") format("embedded-opentype"), url("/fonts/gothamrounded-book.woff") format("woff"), url("/fonts/gothamrounded-book.ttf") format("truetype"), url("/fonts/gothamrounded-book.svg#GothamRoundedBook") format("svg");
}

@font-face {
  font-family: 'GothamMedium';
  src: url("/fonts/gotham-medium.eot");
  src: url("/fonts/gotham-medium.eot") format("embedded-opentype"), url("/fonts/gotham-medium.woff") format("woff"), url("/fonts/gotham-medium.ttf") format("truetype"), url("/fonts/gotham-medium.svg#GothamMedium") format("svg");
}

/* line 40, ../sass/screen.scss */
#root {
  background-image: url('/images/mobile_bg.jpg?1395988163');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 600px) {
  /* line 40, ../sass/screen.scss */
  #root {
    background-image: url('/images/bg.jpg?1395988163');
  }
}

/* line 49, ../sass/screen.scss */
#root {
  height: 100%;
}

/* line 52, ../sass/screen.scss */
#sidebar {
  background-color: #3d4750;
  border-right: 1px solid #b2c4cd;
  position: absolute;
  min-height: 100%;
  width: 120px;
  top: 0px;
  left: 0px;
  background-image: url('/images/gears.png?1396016056');
  background-repeat: no-repeat;
  background-position: bottom;
}
/* line 65, ../sass/screen.scss */
#sidebar #arrow {
  position: absolute;
  top: 60px;
  right: -19px;
  width: 19px;
}

/* line 72, ../sass/screen.scss */
#header {
  background-color: #3d4750;
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #b2c4cd;
  background-image: url('/images/gears_small.png?1396024684');
  background-repeat: no-repeat;
  background-position: left;
}
/* line 84, ../sass/screen.scss */
#header.red {
  background-color: #e73a84;
}
/* line 88, ../sass/screen.scss */
#header #arrow {
  position: absolute;
  left: 50%;
  width: 22px;
  margin-left: -11px;
  bottom: -11px;
}
/* line 96, ../sass/screen.scss */
#header h2 {
  color: #FFF;
  text-shadow: 0px 1px 1px #3e4b55;
  font-size: 15px;
}

/* line 103, ../sass/screen.scss */
#presentationContainer {
  padding-top: 40px;
  padding-left: 120px;
}
/* line 107, ../sass/screen.scss */
#presentationContainer.admin {
  padding-left: 210px;
}
/* line 111, ../sass/screen.scss */
#presentationContainer h1 {
  font-size: 55px;
  color: #3d4750;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}
/* line 121, ../sass/screen.scss */
#presentationContainer h1.result {
  width: 45%;
  font-size: 39px;
  line-height: 130%;
  margin-left: 50px;
  margin-top: 250px;
  text-align: left;
}
/* line 130, ../sass/screen.scss */
#presentationContainer #message {
  color: #FFF;
  width: 50%;
  font-size: 25px;
  text-align: center;
  margin: 50px auto;
  background-color: #8ea2af;
  padding: 40px;
  text-align: center;
  border: 1px solid #b2c4cd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 142, ../sass/screen.scss */
#presentationContainer #legend {
  color: #FFF;
}
/* line 144, ../sass/screen.scss */
#presentationContainer #legend th {
  font-size: 30px;
  width: 230px;
  vertical-align: middle;
  padding: 20px;
}
/* line 150, ../sass/screen.scss */
#presentationContainer #legend td {
  font-size: 25px;
  vertical-align: middle;
  padding: 20px;
}
/* line 155, ../sass/screen.scss */
#presentationContainer #legend td img {
  width: 30px;
}
/* line 160, ../sass/screen.scss */
#presentationContainer #chart {
  position: absolute;
  right: 100px;
  top: 50%;
  margin-top: -250px;
}
/* line 166, ../sass/screen.scss */
#presentationContainer #chart .label {
  font-size: 25px;
  color: #FFF;
  position: absolute;
  top: 493px;
  text-align: center;
}
/* line 173, ../sass/screen.scss */
#presentationContainer #chart .label span {
  font-size: 20px;
}
/* line 177, ../sass/screen.scss */
#presentationContainer #chart .label.agree {
  left: 80px;
}
/* line 180, ../sass/screen.scss */
#presentationContainer #chart .label.neutral {
  left: 199px;
}
/* line 183, ../sass/screen.scss */
#presentationContainer #chart .label.disagree {
  right: 109px;
}
/* line 188, ../sass/screen.scss */
#presentationContainer #chart img {
  display: block;
}
/* line 192, ../sass/screen.scss */
#presentationContainer #intro {
  display: block;
  margin: 0 auto;
}
/* line 197, ../sass/screen.scss */
#presentationContainer #answered {
  overflow: hidden;
  *zoom: 1;
  width: 834px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
/* line 205, ../sass/screen.scss */
#presentationContainer #answered .button {
  color: #FFF;
  font-size: 20px;
  padding-top: 27px;
  display: block;
  text-decoration: none;
  background-color: transparent;
  float: left;
  text-align: center;
  font-family: 'GothamMedium';
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 218, ../sass/screen.scss */
#presentationContainer #answered .button.hidden {
  visibility: hidden;
}
/* line 222, ../sass/screen.scss */
#presentationContainer #answered .button.agree {
  height: 88px;
  width: 278px;
  background-image: url('/images/sprites-s08579351e8.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 46, ../sass/_retina-sprites.scss */
  #presentationContainer #answered .button.agree {
    background-image: url('/images/sprites_2x-s789aeb1c47.png');
    background-position: 0 0;
    -webkit-background-size: 278px auto;
    -moz-background-size: 278px auto;
    -o-background-size: 278px auto;
    background-size: 278px auto;
  }
}
/* line 225, ../sass/screen.scss */
#presentationContainer #answered .button.neutral {
  height: 88px;
  width: 278px;
  background-image: url('/images/sprites-s08579351e8.png');
  background-position: 0 -176px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 46, ../sass/_retina-sprites.scss */
  #presentationContainer #answered .button.neutral {
    background-image: url('/images/sprites_2x-s789aeb1c47.png');
    background-position: 0 -176px;
    -webkit-background-size: 278px auto;
    -moz-background-size: 278px auto;
    -o-background-size: 278px auto;
    background-size: 278px auto;
  }
}
/* line 228, ../sass/screen.scss */
#presentationContainer #answered .button.disagree {
  height: 88px;
  width: 278px;
  background-image: url('/images/sprites-s08579351e8.png');
  background-position: 0 -88px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 46, ../sass/_retina-sprites.scss */
  #presentationContainer #answered .button.disagree {
    background-image: url('/images/sprites_2x-s789aeb1c47.png');
    background-position: 0 -88px;
    -webkit-background-size: 278px auto;
    -moz-background-size: 278px auto;
    -o-background-size: 278px auto;
    background-size: 278px auto;
  }
}
/* line 233, ../sass/screen.scss */
#presentationContainer .button {
  padding: 20px 40px;
  display: inline-block;
  background-color: #3d4750;
  color: #FFF;
  text-decoration: none;
  margin-right: 50px;
}
/* line 242, ../sass/screen.scss */
#presentationContainer .button#next {
  background-color: #e73a84;
}
/* line 245, ../sass/screen.scss */
#presentationContainer .button.current {
  background-color: #e73a84;
}
/* line 250, ../sass/screen.scss */
#presentationContainer .question {
  margin-top: 40px;
}
/* line 253, ../sass/screen.scss */
#presentationContainer .question h2 {
  margin-bottom: 20px;
  font-size: 20px;
}
/* line 257, ../sass/screen.scss */
#presentationContainer .question .button {
  padding: 10px 20px;
  font-size: 16px;
}
/* line 264, ../sass/screen.scss */
#presentationContainer #logo {
  width: 300px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -150px;
}

/* line 273, ../sass/screen.scss */
#voteContainer {
  width: 278px;
  margin: 0 auto;
  padding-bottom: 20px;
}
/* line 278, ../sass/screen.scss */
#voteContainer #intro {
  display: block;
  margin: 0 auto;
}
/* line 283, ../sass/screen.scss */
#voteContainer #okButton {
  padding: 20px 0px;
  display: block;
  margin-top: 40px;
  text-align: center;
  width: 100%;
  background-color: #e73a84;
  color: #FFF;
  text-decoration: none;
  margin-right: 50px;
}
/* line 295, ../sass/screen.scss */
#voteContainer #okButton.current {
  background-color: #e73a84;
}
/* line 300, ../sass/screen.scss */
#voteContainer h1 {
  margin-top: 25px;
  font-size: 25px;
  color: #3d4750;
  text-shadow: 0px 1px 1px white;
  text-align: center;
  margin-bottom: 30px;
}
/* line 308, ../sass/screen.scss */
#voteContainer #answers, #voteContainer #answered {
  margin-bottom: 50px;
}
/* line 311, ../sass/screen.scss */
#voteContainer #answers .button, #voteContainer #answered .button {
  width: 100%;
  color: #FFF;
  font-size: 20px;
  padding-top: 27px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: 'GothamMedium';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 322, ../sass/screen.scss */
#voteContainer #answers .button.hidden, #voteContainer #answered .button.hidden {
  visibility: hidden;
}
/* line 326, ../sass/screen.scss */
#voteContainer #answers .button.agree, #voteContainer #answered .button.agree {
  height: 88px;
  width: 278px;
  background-image: url('/images/sprites-s08579351e8.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 46, ../sass/_retina-sprites.scss */
  #voteContainer #answers .button.agree, #voteContainer #answered .button.agree {
    background-image: url('/images/sprites_2x-s789aeb1c47.png');
    background-position: 0 0;
    -webkit-background-size: 278px auto;
    -moz-background-size: 278px auto;
    -o-background-size: 278px auto;
    background-size: 278px auto;
  }
}
/* line 329, ../sass/screen.scss */
#voteContainer #answers .button.neutral, #voteContainer #answered .button.neutral {
  height: 88px;
  width: 278px;
  background-image: url('/images/sprites-s08579351e8.png');
  background-position: 0 -176px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 46, ../sass/_retina-sprites.scss */
  #voteContainer #answers .button.neutral, #voteContainer #answered .button.neutral {
    background-image: url('/images/sprites_2x-s789aeb1c47.png');
    background-position: 0 -176px;
    -webkit-background-size: 278px auto;
    -moz-background-size: 278px auto;
    -o-background-size: 278px auto;
    background-size: 278px auto;
  }
}
/* line 332, ../sass/screen.scss */
#voteContainer #answers .button.disagree, #voteContainer #answered .button.disagree {
  height: 88px;
  width: 278px;
  background-image: url('/images/sprites-s08579351e8.png');
  background-position: 0 -88px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 46, ../sass/_retina-sprites.scss */
  #voteContainer #answers .button.disagree, #voteContainer #answered .button.disagree {
    background-image: url('/images/sprites_2x-s789aeb1c47.png');
    background-position: 0 -88px;
    -webkit-background-size: 278px auto;
    -moz-background-size: 278px auto;
    -o-background-size: 278px auto;
    background-size: 278px auto;
  }
}
/* line 336, ../sass/screen.scss */
#voteContainer #answers #noAnswer, #voteContainer #answers #follow, #voteContainer #answered #noAnswer, #voteContainer #answered #follow {
  color: #FFF;
  padding: 25px 15px;
  text-align: center;
  font-size: 20px;
  display: none;
}
/* line 344, ../sass/screen.scss */
#voteContainer #answered {
  display: none;
}
/* line 347, ../sass/screen.scss */
#voteContainer #answered .button {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 355, ../sass/screen.scss */
#logo {
  width: 164px;
  display: block;
  margin: 0 auto;
}

/* line 361, ../sass/screen.scss */
*, p, h1, h2, h3, h4, span, li, th, td, a {
  font-family: 'GothamRoundedBook';
}
